.button_submit{
	position: relative;
	width: 140px;
	height: 60px;
	font-size: 20px;
	background-color: #202231;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: width .5s, border-radius .5s;

}
.button_submit *{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity .25s;
}
.icon{
	opacity: 0;
}
.button_submit:focus{
	width: 60px;
	background-color: #44c08a;
	border-radius: 50%;
}
.button_submit:focus .text{
	opacity: 0;
}
.button_submit:focus .icon{
	opacity: 1;
	transition-delay: .5s;
}